@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

$bg-color: #EFF4F9;
$first-color: #192842;
$second-color: #7F8FA4;
$white: #FFFFFF;
$blue: #0066FF;
$button-hover: #004ec4;
$drop-hover: #E3EDF4;
$upload-bar-color: #BDCCD7;
$font: IBM Plex Sans;
$trans: 0.3s;